---
import Image from '@components/Image/Image.astro';
---

<section data-scroll-section>
    <div class="u-container u-mt-[20vw] u-flex u-flex-col u-items-center u-justify-center">
        <h2 class="u-mt-[5vw] u-text-h2 u-uppercase">Best Sellers</h2>
        <ul
            class="u-flex u-list-disc u-flex-col u-flex-wrap u-items-baseline u-gap-[8vw] lg:u-flex-row"
        >
            <li class="u-flex u-flex-col u-bg-white">
                <a href="">
                    <figure
                        class="u-animate-float u-relative u-w-full u-max-w-[60vw] lg:u-max-w-[18vw]"
                    >
                        <Image
                            src={import('@images/BestSellers-1.png')}
                            alt="Best Sellers"
                            loading="lazy"
                            class="u-h-full u-w-full u-object-contain"
                        />
                    </figure>
                    <span class="u-text-center">
                        <h4 class="u-text-h4">Hair Balm</h4>
                        <p class="u-text-h4">49$</p>
                    </span>
                </a>
            </li>
            <li class="u-flex u-flex-col u-bg-white">
                <a href="">
                    <figure class="u-relative u-w-full u-max-w-[60vw] lg:u-max-w-[18vw]">
                        <Image
                            src={import('@images/BestSellers-2.png')}
                            alt="Best Sellers"
                            loading="lazy"
                            class="u-h-full u-w-full u-object-contain"
                        />
                    </figure>
                    <span class="u-text-center">
                        <h4 class="u-text-h4">Hair Spray</h4>
                        <p class="u-text-h4">42$</p>
                    </span>
                </a>
            </li>
            <li class="u-flex u-flex-col u-bg-white">
                <a href="">
                    <figure class="u-relative u-w-full u-max-w-[60vw] lg:u-max-w-[18vw]">
                        <Image
                            src={import('@images/BestSellers-3.png')}
                            alt="Best Sellers"
                            loading="lazy"
                            class="u-h-full u-w-full u-object-contain"
                        />
                    </figure>
                    <span class="u-text-center">
                        <h4 class="u-text-h4">Face Cream</h4>
                        <p class="u-text-h4">59$</p>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>
