// ===================================================================
// Global Variables for button styles
// ===================================================================
:root {
    // Metrics
    --button-height: auto;
    --button-width: auto;
    --button-radius: 0px;
    --button-padding: 10пpx 25px;
    --button-gap: 25px;
    //    --button-font-size: #{theme('fontSize.button')};

    // Idle state - Default styles
    --button-color: #{theme-color('black')};
    --button-background: #{theme-color('primary')};
    --button-stroke-color: transparent;

    // Hover state - Default styles
    --button-color-hover: #{theme-color('white')};
    --button-background-hover: #{theme-color('black')};

    // Active state - Default styles
    --button-color-active: #{theme-color('black')};
    --button-background-active: #{theme-color('white')};
}

.c-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    min-height: var(--button-height);
    width: var(--button-width);
    color: var(--button-color);
    border-radius: var(--button-radius);
    padding: var(--button-padding);
    font-size: var(--button-font-size);
    background-color: var(--button-background);
    border: 1px solid var(--button-stroke-color);
    transition: all theme-speed() theme-ease();
    cursor: pointer;

    // Hover
    @media (hover: hover) {
        .u-button-hover:hover &,
        &:hover {
            text-decoration-line: underline;
            -moz-text-decoration-line: underline;
        }
    }

    // Variants
    &--primary {
        --button-color: #{theme-color('black')};
        --button-background: #{theme-color('primary')};
        --button-stroke-color: transparent;
        --button-padding: 10px 40px;
        
        &:hover {
            --button-color: #{theme-color('white')};
            --button-background: #{theme-color('black')};
        }
    }

    &--secondary {
        --button-color: #{theme-color('black')};
        --button-background: #{theme-color('white')};
        --button-stroke-color: transparent;
        --button-font-size: #{theme('fontSize.h4')};
        
        &:hover {
            --button-color: #{theme-color('white')};
            --button-background: #{theme-color('primary')};
        }
    }

    &--outline {
        --button-color: #{theme-color('black')};
        --button-background: transparent;
        --button-stroke-color: #{theme-color('black')};
        
        &:hover {
            --button-color: #{theme-color('white')};
            --button-background: #{theme-color('black')};
        }
    }

    &--link {
        --button-color: #{theme-color('primary')};
        --button-background: transparent;
        --button-stroke-color: transparent;
        --button-font-size: #{theme('fontSize.h3')};
    }

    &--nav{
        --button-color: #{theme-color('black')};
        --button-background: transparent;
        --button-stroke-color: transparent;
        --button-font-size: #{theme('fontSize.p')};
    }
}
