---
import Image from '@components/Image/Image.astro';
---

<section data-scroll-section>
    <div class="u-container u-relative u-mt-[20vw] u-flex u-justify-center">
        <div class="u-flex u-max-w-xl u-flex-col u-items-center u-gap-2 u-text-center">
            <h2 class="u-heading-h2 u-relative u-max-w-lg u-uppercase">
                We will take care of <span class="u-underline u-transition-all"
                    >your <span
                        class="u-rounded-[50px] u-bg-primary u-px-4 u-py-1 lg:u-px-4 lg:u-py-2"
                        >beauty</span
                    ></span
                >
            </h2>
            <p class="u-max-w-xl u-text-p">
                At BeautyBoo, we believe that our mission is to provide you with a range of
                high-quality cosmetics that not only enhance your natural beauty but also nurture
                your skin and your conscience. We are committed to offering products that are as
                kind to the planet as they are to your skin.
            </p>
        </div>
        <div>
            <figure
                data-scroll
                data-scroll-speed="0.05"
                class="u-absolute -u-top-[10vw] u-left-[2vw] -u-z-10 u-hidden u-h-auto u-w-[20%] lg:u-block"
            >
                <Image
                    src={import('@images/homeAbout-1.png')}
                    alt="Bath"
                    class="u-h-full u-w-full u-object-cover"
                    loading="lazy"
                />
            </figure>
            <figure
                data-scroll
                data-scroll-speed="-0.1"
                class="u-absolute u-left-[5vw] u-top-[12vw] -u-z-10 u-hidden u-h-auto u-w-[20%] lg:u-block"
            >
                <Image
                    src={import('@images/homeAbout-2.png')}
                    alt="Drops"
                    class="u-h-full u-w-full u-object-cover"
                    loading="lazy"
                />
            </figure>
            <figure
                data-scroll
                data-scroll-speed="0.1"
                class="u-absolute -u-top-[8vw] u-right-[1vw] -u-z-10 u-hidden u-h-auto u-w-[19%] lg:u-block"
            >
                <Image
                    src={import('@images/homeAbout-3.jpg')}
                    alt="Cream"
                    class="u-h-full u-w-full u-object-cover"
                    loading="lazy"
                />
            </figure>
            <figure
                data-scroll
                data-scroll-speed="-0.03"
                class="u-absolute u-right-[4vw] u-top-[12vw] -u-z-10 u-hidden u-h-auto u-w-[20%] lg:u-block"
            >
                <Image
                    src={import('@images/homeAbout-4.jpg')}
                    alt="Product"
                    class="u-h-full u-w-full u-object-cover"
                    loading="lazy"
                />
            </figure>
        </div>
    </div>
</section>
