---
import Image from '@components/Image/Image.astro';
import Button from '@components/Button/Button.astro';
---

<header data-scroll-section>
    <div class="u-container u-relative u-mt-fluid-sm lg:u-mt-0">
        <div
            class="u-container u-flex u-flex-col u-items-center u-gap-3 u-text-center lg:u-absolute lg:u-top-[12vw] lg:u-z-50 lg:u-max-w-lg lg:u-items-end lg:u-text-left"
        >
            <h1 class="u-flex u-flex-col u-gap-1.5 u-pt-[20px] lg:u-pt-0">
                <span class="u-heading-h1 u-font-bold u-text-primary">BlueCloud</span>
                <span class="u-heading-h2 u-uppercase lg:u-text-right">Collection</span>
            </h1>
            <p class="u-text-p lg:u-max-w-md lg:u-text-right">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex
                ea commodo.
            </p>
            <Button
                class="c-button--link u-text-h2 u-uppercase"
                href="https://example.com"
                target="_blank">Shop Now</Button
            >
        </div>
    </div>
    <div class="swiper relative w-screen">
        <ul class="swiper-wrapper">
            <li class="swiper-slide w-screen">
                <figure class="w-full h-full">
                    <Image
                        src={import('@images/placeholder.jpg')}
                        alt="Shampoo"
                        class="w-full h-full object-cover"
                    />
                </figure>
            </li>
            <li class="swiper-slide w-screen">
                <figure class="w-full h-full">
                    <Image
                        src={import('@images/home-slider2.jpg')}
                        alt="Scrub"
                        class="w-full h-full object-cover"
                    />
                </figure>
            </li>
            <li class="swiper-slide w-screen">
                <figure class="w-full h-full">
                    <Image
                        src={import('@images/home-slider3.jpg')}
                        alt="Cream"
                        class="w-full h-full object-cover"
                    />
                </figure>
            </li>
        </ul>
        <div class="swiper-pagination"></div>
        <span class="u-mt-3 u-flex u-flex-row u-justify-center u-gap-1 u-text-h3 u-font-thin">
            <h3>Enhance.</h3>
            <h3>Embrace.</h3>
            <h3>Empower beauty.</h3>
        </span>
    </div>
</header>

<script>
    import Swiper from 'swiper';
    import { Pagination, Autoplay } from 'swiper/modules';
    import 'swiper/css';
    import 'swiper/css/pagination';

    document.addEventListener('DOMContentLoaded', function () {
        const swiper = new Swiper('.swiper', {
            direction: 'horizontal',
            loop: true,
            speed: 1000,
            autoplay: {
                disableOnInteraction: false
            },
            modules: [Pagination, Autoplay],
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            }
        });
    });
</script>

<style is:global>
    .swiper-pagination {
        position: relative !important;
        margin-top: 1rem;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        height: 0.5rem !important;
        width: 6rem !important;
        background-color: #86b4cf !important;
        cursor: pointer;
        display: inline-block;
        border-radius: 0 !important;
        margin: 0 !important;
        position: relative !important;
        overflow: hidden !important;
    }

    .swiper-pagination-bullet-active::after {
        transform: translateX(0);
        transition: transform 5s linear;
    }

    @media (min-width: 1024px) {
        .swiper-pagination-bullet {
            width: 10rem !important;
        }
    }
</style>
