@keyframes float-small {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes float-medium {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes float-large {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
.u-animate-float-small {
    animation: float-small 3s ease-in-out infinite !important;
} 
.u-animate-float-medium {
    animation: float-medium 5s ease-in-out infinite !important;
}
.u-animate-float-large {
    animation: float-large 7s ease-in-out infinite !important;
}
 
.instagram-link-img {
    --time: 35s;
    position: relative;
    width: 105%;
    aspect-ratio: 1;
    grid-column: 1;
    grid-row: 1;
    left: calc(100% * 9);
    animation: marquee var(--time) linear infinite;

    &:nth-of-type(1) { animation-delay: calc((var(--time) / 9) * (9 - 1) * -1); }
    &:nth-of-type(2) { animation-delay: calc((var(--time) / 9) * (9 - 2) * -1); }
    &:nth-of-type(3) { animation-delay: calc((var(--time) / 9) * (9 - 3) * -1); }
    &:nth-of-type(4) { animation-delay: calc((var(--time) / 9) * (9 - 4) * -1); }
    &:nth-of-type(5) { animation-delay: calc((var(--time) / 9) * (9 - 5) * -1); }
    &:nth-of-type(6) { animation-delay: calc((var(--time) / 9) * (9 - 6) * -1); }
    &:nth-of-type(7) { animation-delay: calc((var(--time) / 9) * (9 - 7) * -1); }
    &:nth-of-type(8) { animation-delay: calc((var(--time) / 9) * (9 - 8) * -1); }
    &:nth-of-type(9) { animation-delay: calc((var(--time) / 9) * (9 - 9) * -1); }
}


@keyframes marquee {
  to {
    left: -100%;
  }
}