@keyframes float-small {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes float-medium {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes float-large {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
.u-animate-float-small {
    animation: float-small 3s ease-in-out infinite !important;
} 
.u-animate-float-medium {
    animation: float-medium 5s ease-in-out infinite !important;
}
.u-animate-float-large {
    animation: float-large 7s ease-in-out infinite !important;
} 