---
import { Image } from 'astro:assets';
import Shampoo from '../images/home-slider1.jpg';
import Scrub from '../images/home-slider1.jpg';
import Cream from '../images/home-slider1.jpg';
---

<header data-scroll-section>
    <div class="u-container u-relative u-mt-fluid-sm lg:u-mt-0">
        <div
            class="u-flex u-flex-col u-gap-3 u-text-center lg:u-absolute lg:u-top-32 lg:u-z-50 lg:u-max-w-lg lg:u-items-end lg:u-text-left"
        >
            <span class="u-flex u-flex-col u-gap-1.5">
                <h1 class="u-heading-h1 u-font-bold u-text-primary">BlueCloud</h1>
                <h2 class="u-heading-h2 u-uppercase lg:u-text-right">Collection</h2>
            </span>
            <p class="u-text-p lg:u-max-w-md lg:u-text-right">
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex
                ea commodo.
            </p>
            <a
                class="u-grid u-cursor-pointer u-auto-cols-max u-grid-flow-col u-items-center u-justify-center u-gap-2"
            >
                <h3 class="u-text-h3 u-uppercase u-text-primary">Shop Now</h3>
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M19 12L5 12"
                        stroke="#8ABEE2"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path
                        d="M12 19L19 12L12 5"
                        stroke="#8ABEE2"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
            </a>
        </div>
    </div>
    <div class="swiper relative w-screen left-[50%] -translate-x-1/2">
        <ul class="swiper-wrapper">
            <li class="swiper-slide w-screen">
                <figure class="w-full h-full">
                    <Image src={Shampoo} alt="Shampoo" class="w-full h-full object-cover" />
                </figure>
            </li>
            <li class="swiper-slide w-screen">
                <figure class="w-full h-full">
                    <Image src={Scrub} alt="Scrub" class="w-full h-full object-cover" />
                </figure>
            </li>
            <li class="swiper-slide w-screen">
                <figure class="w-full h-full">
                    <Image src={Cream} alt="Cream" class="w-full h-full object-cover" />
                </figure>
            </li>
        </ul>
        <div class="swiper-pagination"></div>
        <span class="u-mt-3 u-flex u-flex-row u-justify-center u-gap-2 u-text-h3 u-font-thin">
            <h3>Enhance.</h3>
            <h3>Embrace.</h3>
            <h3>Empower beauty.</h3>
        </span>
    </div>
</header>

<script>
    import Swiper from 'swiper';
    import { Pagination, Autoplay } from 'swiper/modules';
    import 'swiper/css';
    import 'swiper/css/pagination';

    document.addEventListener('DOMContentLoaded', function () {
        const swiper = new Swiper('.swiper', {
            direction: 'horizontal',
            loop: true,
            speed: 1000,
            autoplay: {
                disableOnInteraction: false
            },
            modules: [Pagination, Autoplay],
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            }
        });
    });
</script>

<style is:global>
    .swiper-pagination {
        position: relative !important;
        margin-top: 1rem;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
    }

    .swiper-pagination-bullet {
        height: 0.5rem !important;
        width: 6rem !important;
        background-color: #86b4cf !important;
        cursor: pointer;
        display: inline-block;
        border-radius: 0 !important;
        margin: 0 !important;
        position: relative !important;
        overflow: hidden !important;
    }

    .swiper-pagination-bullet-active::after {
        transform: translateX(0);
        transition: transform 5s linear;
    }

    @media (min-width: 1024px) {
        .swiper-pagination-bullet {
            width: 10rem !important;
        }
    }
</style>
