<div class="u-relative u-flex u-h-marquee u-overflow-x-hidden u-bg-primary">
    <div class="u-animate-marquee u-whitespace-nowrap">
        <span class="u-mx-[10vw] u-text-h5">Free Europe region Shipping Start from 110$</span>
        <span class="u-mx-[10vw] u-text-h5">Free Europe region Shipping Start from 110$</span>
        <span class="u-mx-[10vw] u-text-h5">Free Europe region Shipping Start from 110$</span>
    </div>

    <div class="u-absolute u-top-0 u-animate-marquee2 u-whitespace-nowrap">
        <span class="u-mx-[10vw] u-text-h5">Free Europe region Shipping Start from 110$</span>
        <span class="u-mx-[10vw] u-text-h5">Free Europe region Shipping Start from 110$</span>
        <span class="u-mx-[10vw] u-text-h5">Free Europe region Shipping Start from 110$</span>
    </div>
</div>
