---
import { Image } from 'astro:assets';
import creamDrop from '../images/home/cream-drop.jpg';
---
<section class="mx-4 lg:mx-[6.75rem] pt-14 lg:pt-24 xl:pt-40">
    <div class="flex flex-col lg:flex-row items-center gap-16 lg:gap-8">
        <!-- Image Side -->
        <div class="w-full lg:w-1/2">
            <figure class="relative">
                <Image 
                    src={creamDrop} 
                    class="w-full h-auto object-cover" 
                    alt="BeautyBoo cream drop" 
                />
                <p class="lg:hidden absolute bottom-[71%] left-0 right-0 text-center uppercase text-[1.1rem] lg:text-[1.15rem] xl:text-[1.35rem] bg-white/80 p-4">
                    Our commitment to quality and your well-being is reflected in every aspect of our offerings.
                </p>
            </figure>
        </div>

        <!-- Content Side -->
        <div class="w-full lg:w-1/2 text-center lg:text-left">
            <h2 class="lg:hidden uppercase text-[1.9rem] lg:text-[2rem] xl:text-[2.3rem] mb-8">
                <span class="decoration-2 underline underline-offset-[0.3rem]">You should</span> make us your beauty destination, cause:
            </h2>

            <ul class="flex flex-col gap-8">
                <li class="flex flex-col lg:flex-row items-center gap-4 lg:gap-6">
                    <div class="w-[66px] h-[64px] shrink-0 bg-accent"></div>
                    <div>
                        <h3 class="text-[1.25rem] text-accent mb-3 uppercase">For all skin & hair types</h3>
                        <p class="lg:max-w-[25.5rem]">Experience beauty without compromise as our hypoallergenic cosmetic products are formulated with utmost care, free from common allergens and irritants.</p>
                    </div>
                </li>

                <li class="flex flex-col lg:flex-row items-center gap-4 lg:gap-6">
                    <div class="w-[66px] h-[64px] shrink-0 bg-accent"></div>
                    <div>
                        <h3 class="text-[1.25rem] text-accent mb-3 uppercase">Hypoallergenic</h3>
                        <p class="lg:max-w-[25.5rem]">Our carefully crafted products are free from common allergens and irritants, suitable for all skin and hair types, solution for a flawless and radiant look.</p>
                    </div>
                </li>

                <li class="flex flex-col lg:flex-row items-center gap-4 lg:gap-6">
                    <div class="w-[66px] h-[64px] shrink-0 bg-accent"></div>
                    <div>
                        <h3 class="text-[1.25rem] text-accent mb-3 uppercase">Made of Natural Products</h3>
                        <p class="lg:max-w-[25.5rem]">Experience the exquisite blend of nature's goodness and beauty with our cosmetic products, meticulously crafted from natural ingredients.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>