---
import { Image } from 'astro:assets';
import Bath from '../images/home/bath.jpg';
import Drops from '../images/home/drops.png';
import FLower from '../images/home/flower.png';
import creamApplying from '../images/home/cream-applying.png';
---

<section id="container" class="flex flex-col items-center justify-center mx-[1.4rem] lg:mx-[6.75rem] lg:pt-[6rem] xl:pt-[10rem] pt-[3.5rem] mb-[1rem] xl:mb-[15rem] text-center relative">
    <div class="flex flex-col items-center justify-center align-middle">
        <h2 id="adaptiveText" class="uppercase text-[1.9rem] lg:text-[2rem] xl:text-[2.3rem] lg:max-w-[40rem]">We will take care of <span class="underline decoration-2  lg:underline-offset-[0.3rem] underline-offset-[0.1rem]">your <span class="px-[1rem] pb-[0.1rem] pt-[0.5rem] lg:pt-[0.7rem] bg-blue rounded-full">beauty</span></span></h2>
        <p id="adaptiveText" class="text-[1rem] lg:text-[1.2rem] lg:max-w-[700px] mt-[0.5rem]">At BeautyBoo, we believe that our mission is to provide you with a range of high-quality cosmetics that not only enhance your natural beauty but also nurture your skin and your conscience. We are committed to offering products that are as kind to the planet as they are to your skin.</p>
    </div>
    <div class="gap-[1rem] ">
        <figure class="absolute w-[15rem] left-[-1%]  top-[25%] hidden xl:block z-[-1]">
            <Image src={Bath} class="w-full h-auto object-cover" alt="BeautyBoo Bath" />
        </figure>
        <figure class="absolute w-[20rem] left-[12%] top-[105%] hidden xl:block z-[-1]">
            <Image src={Drops} class="w-full h-auto object-cover" alt="BeautyBoo Drops" />
        </figure>
        <figure class="absolute w-[17rem] right-[10%]  hidden xl:block z-[-1]">
            <Image src={FLower} class="w-full h-auto object-cover" alt="BeautyBoo Cream" />
        </figure>
        <figure class="absolute w-[20rem] right-[-5%] bottom-[-20%] hidden xl:block z-[-2]">
            <Image src={creamApplying} class="w-full h-auto object-cover" alt="BeautyBoo Cream" />
        </figure>
    </div>
</section>

