---
import Accordion from '@components/Accordion/Accordion.astro';
import Button from '@components/Button/Button.astro';
import Wysiwyg from '@components/Wysiwyg/Wysiwyg.astro';
---

<section data-scroll-section>
    <div class="u-container u-mt-[20vw] lg:u-mt-[15vw]">
        <h2
            class="u-hidden u-max-w-screen-xl u-text-center u-text-h2 u-uppercase lg:u-block lg:u-text-left"
        >
            Lorem ipsum dolor sit amet,<span
                class="u-rounded-[50px] u-bg-primary u-px-[8px] u-py-[4px] u-underline u-decoration-[2px] u-underline-offset-[3px] lg:u-px-[10px] lg:u-py-[5px] lg:u-decoration-[3px] lg:u-underline-offset-[4px]"
                >consectetur</span
            > adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore <span
                class="u-rounded-[50px] u-bg-primary u-px-[8px] u-py-[4px] u-underline u-decoration-[2px] u-underline-offset-[3px] lg:u-px-[10px] lg:u-py-[5px] lg:u-decoration-[3px] lg:u-underline-offset-[4px]"
                >magna</span
            > aliqua.
        </h2>
        <div class="u-mt-[5vw] u-flex u-flex-col u-gap-gutter">
            <h2 class="u-text-center u-text-h2 u-uppercase">
                With us you can <span class="u-text-primary">enjoy:</span>
            </h2>
            <div class="u-flex u-flex-col">
                <Accordion label="Hair Cosmetics" class="u-text-h3 u-uppercase">
                    <p class="u-pb-[20px] u-text-p u-normal-case lg:u-max-w-[65vw]">
                        Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos
                        vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque
                        nesciunt debitis?Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </Accordion>
                <Accordion label="Body Cosmetics" class="u-text-h3 u-uppercase">
                    <p class="u-pb-[20px] u-text-p u-normal-case lg:u-max-w-[65vw]">
                        Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos
                        vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque
                        nesciunt debitis?Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </Accordion>
                <Accordion label="Face Cosmetics" class="u-text-h3 u-uppercase">
                    <p class="u-pb-[20px] u-text-p u-normal-case lg:u-max-w-[65vw]">
                        Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos
                        vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque
                        nesciunt debitis?Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </Accordion>
            </div>
        </div>
    </div>
</section>
