---
import Accordion from '@components/Accordion/Accordion.astro';
import Button from '@components/Button/Button.astro';
import Wysiwyg from '@components/Wysiwyg/Wysiwyg.astro';
---

<section data-scroll-section>
    <div class="u-container u-mt-[20vw] lg:u-mt-[15vw]">
        <h2
            class="u-hidden u-max-w-screen-xl u-text-center u-text-h2 u-uppercase lg:u-block lg:u-text-left"
        >
            Lorem ipsum dolor sit amet,<span
                class="u-rounded-[50px] u-bg-primary u-px-4 u-py-1 lg:u-px-4 lg:u-py-2"
                >consectetur</span
            > adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore <span
                class="u-rounded-[50px] u-bg-primary u-px-4 u-py-1 lg:u-px-4 lg:u-py-2">magna</span
            > aliqua.
        </h2>
        <div class="u-mt-[5vw] u-flex u-flex-col u-gap-gutter">
            <h2 class="u-text-center u-text-h2 u-uppercase">
                With us you can <span class="u-text-primary">enjoy:</span>
            </h2>
            <ul class="u-flex u-flex-col">
                <li
                    class="u-flex u-flex-row u-items-baseline u-justify-between u-gap-3 u-border-b u-border-t u-border-black u-py-4"
                >
                    <Accordion label="Hair Cosmetics" class="u-max-w-[75vw] u-text-h3 u-uppercase">
                        <Wysiwyg class="u-text-p u-normal-case">
                            <Fragment
                                set:html={`<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quam, nam omnis sunt laudantium tenetur obcaecati? Inventore eos vitae id repellat cum possimus voluptates nam voluptatum, assumenda, atque nesciunt debitis?</p>`}
                            />
                        </Wysiwyg>
                    </Accordion>
                    <Button
                        class="c-button--link u-text-h2 u-uppercase"
                        href="https://example.com"
                        target="_blank">All</Button
                    >
                </li>
                <li
                    class="u-flex u-flex-row u-items-baseline u-justify-between u-gap-3 u-border-b u-border-black u-py-4"
                >
                    <Accordion label="Face Cosmetics" class="u-max-w-[75vw] u-text-h3 u-uppercase">
                        <Wysiwyg class="u-text-p u-normal-case">
                            <Fragment
                                set:html={`<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>`}
                            />
                        </Wysiwyg>
                    </Accordion>
                    <Button
                        class="c-button--link u-text-h2 u-uppercase"
                        href="https://example.com"
                        target="_blank">All</Button
                    >
                </li>
                <li
                    class="u-flex u-flex-row u-items-baseline u-justify-between u-gap-3 u-border-b u-border-black u-py-4"
                >
                    <Accordion label="Body Cosmetics" class="u-max-w-[75vw] u-text-h3 u-uppercase">
                        <Wysiwyg class="u-text-p u-normal-case">
                            <Fragment
                                set:html={`<p>Facilisi mattis aliquam et dapibus morbi quam massa nec. Interdum feugiat feugiat aliquet; efficitur felis mi arcu curae imperdiet. Morbi pellentesque accumsan eros convallis habitasse sociosqu ultricies. Ullamcorper lectus facilisi quam praesent risus scelerisque nostra. Sapien mollis habitant sed tempus nisi augue neque semper. Aliquet laoreet porttitor nec felis integer nibh; parturient in fusce. Vehicula lobortis mauris morbi platea imperdiet neque. Cursus consectetur volutpat, dis magna lacinia arcu sollicitudin et pellentesque. Suspendisse ultricies suspendisse venenatis dis erat ligula lacinia. Scelerisque efficitur interdum mi mattis ex; dui non.</p>`}
                            />
                        </Wysiwyg>
                    </Accordion>
                    <Button
                        class="c-button--link u-text-h2 u-uppercase"
                        href="https://example.com"
                        target="_blank">All</Button
                    >
                </li>
            </ul>
        </div>
    </div>
</section>
