---

---

<section data-scroll-section>
    <div
        class="u-container u-mt-[15vw] u-flex u-flex-col u-gap-[4vw] lg:u-mt-[10vw] lg:u-w-[60vw] lg:u-gap-[2vw]"
    >
        <h3 class="u-text-h4 u-uppercase">Hair products overview</h3>
        <p class="u-text-p">
            Velit egestas dui id ornare arcu odio ut sem nulla. Euismod lacinia at quis risus sed
            vulputate odio. Sed adipiscing diam donec adipiscing tristique risus. Amet purus gravida
            quis blandit turpis cursus in hac.
        </p>
        <div class="u-flex u-flex-col u-gap-[2vw]">
            <div class="u-flex u-flex-row u-items-start u-gap-gutter">
                <h3 class="u-text-h4 u-uppercase">Lorem Ipsum</h3>
                <p class="u-w-[60vw] u-text-p lg:u-w-[30vw]">
                    Nunc non blandit massa enim. Metus aliquam eleifend mi in nulla posuere
                    sollicitudin aliquam.
                </p>
            </div>
            <div class="u-flex u-flex-row u-items-start u-gap-gutter">
                <h3 class="u-text-h4 u-uppercase">Lorem Ipsum</h3>
                <p class="u-w-[60vw] u-text-p lg:u-w-[30vw]">
                    Sed adipiscing diam donec adipiscing tristique risus. Amet purus gravida quis
                    blandit turpis cursus in hac.
                </p>
            </div>
        </div>
    </div>
</section>
